.wrapper{
    padding-top: 50px;
    position: relative;
}

.title{
    text-align: center;
    font-size: 50px;
}

.info{
    height: 500px;
    width: 800px;
    margin: auto;
    border: 2px solid;
    position: relative;
    overflow-y: auto;
    padding: 20px;
}

.wrapper.load:after{
    content: '';
    background: url('../image/loading_spinner.gif') no-repeat center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50px;
}

.content .form-group{
    text-align: center;
}

.add-btn{
    width: 60px;
    display: block!important;
    margin: 15px auto;
}

.errors{
    color: red;
}